@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

@keyframes rainbow-text {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.rainbow-text {
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-text 3s ease-in-out infinite;
  background-size: 200% 200%;
}