@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow-text-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.rainbow-text {
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-text-animation 5s ease infinite;
  background-size: 200% 200%;
}
